---
import ContentSubHeader from "./ContentSubHeader.astro";
import ContentHeader from "./ContentHeader.astro";
import { Picture } from "astro:assets";
import Button from "./Button.astro";
import image from "../assets/images/about.webp";
import { ABOUT } from "../content/about";
import ContentDescription from "./ContentDescription.astro";
---

<section id={ABOUT.id} class="bg-radial-dark scroll-mt-15 md:scroll-mt-22.5">
    <div
        data-aos="fade-up"
        class="max-w-7xl items-center justify-center m-auto py-10 md:py-30 px-5"
    >
        <ContentHeader text={ABOUT.header} class="text-secondary" />
        <div
            class="grid grid-cols-1 gap-4 items-center justify-center m-auto"
        >
            <div>
                <ContentSubHeader
                    text={ABOUT.subHeader}
                    class="gradient-light"
                />

                <ContentDescription
                    text={ABOUT.description}
                    class="text-secondary text-start md:text-justify"
                />
                {
                    (
                        <div class="pt-11 pb-7 md:py-11 text-center">
                            <Button
                                text={ABOUT.button.label}
                                href={ABOUT.button.href}
                                variant="outlined"
                            />
                        </div>
                    )
                }
            </div>

            <div class="w-full h-full md:aspect-2/1 overflow-hidden rounded-lg pb-5">
                <Picture
                    src={image}
                    alt="about"
                    width={1920}
                    height={1080}
                    loading="lazy"
                    decoding="async"
                    class="w-full h-full object-cover"
                />
            </div>
        </div>
    </div>
</section>
