---
import ContentDescription from "./ContentDescription.astro";
import ContentSubHeader from "./ContentSubHeader.astro";
import { CTA } from "../content/cta";
import Button from "./Button.astro";
---

<section id={CTA.id} class="bg-secondary md:bg-radial-light scroll-mt-15 md:scroll-mt-22.5">
    <div
        data-aos="fade-up"
        class="max-w-360 flex flex-col items-center justify-center m-auto py-5 md:py-30 px-5" 
    >
        <ContentSubHeader
            text={CTA.header}
            class="gradient-dark"
        />
        <ContentDescription
            text={CTA.description}
            class="text-center text-primary"
        />
        <div class="md:pt-10 py-5 text-center">
            <Button href={CTA.button.href} text={CTA.button.label} />
        </div>
    </div>
</section>
