---
import ContentDescription from "./ContentDescription.astro";
import ContentSubHeader from "./ContentSubHeader.astro";
import { CTA } from "../content/cta";
import Button from "./Button.astro";
---

<section id={CTA.id} class="scroll-mt-15 md:scroll-mt-22.5">
    <div
        data-aos="fade-up"
        class="max-w-360 flex flex-col items-center justify-center m-auto py-5 md:pb-30 md:pt-25 px-5 lg:px-1"
    >
        <ContentSubHeader
            text={CTA.header}
            class="bg-linear-to-r from-dark from-0% via-gray-500 via-50% to-dark to-100% bg-clip-text text-transparent"
        />
        <ContentDescription
            text={CTA.description}
            class="text-center text-primary"
        />
        <div class="pt-10 text-center">
            <Button href={CTA.button.href} text={CTA.button.label} />
        </div>
    </div>
</section>
