---
import ContentHeader from "./ContentHeader.astro";
import ContentSubHeader from "./ContentSubHeader.astro";
import ContentDescription from "./ContentDescription.astro";
import { FAQ } from "../content/faq";
import Close from "../assets/icons/close.svg";
import Button from "./Button.astro";
---

<section id={FAQ.id} class="bg-secondary scroll-mt-15 md:scroll-mt-22.5">
    <div
        class="max-w-360 m-auto py-10 md:py-30 px-5 lg:px-1"
        data-aos="fade-up"
    >
        <ContentHeader text={FAQ.header} class="text-primary" />
        <ContentSubHeader text={FAQ.subHeader} class="gradient-dark mx-0" />
        <ContentDescription
            text={FAQ.description}
            class="text-primary-lighter text-center mx-auto"
        />

        <div class="my-10 space-y-3 md:px-15">
            {
                FAQ.items.map((item) => (
                    <details class="faq-item rounded-lg border-2 border-dark/20 bg-white hover:border-dark/50 transition-all duration-500 ">
                        <summary class="faq-summary flex items-center justify-between gap-4 p-5 cursor-pointer select-none">
                            <span class="text-lg md:text-xl font-semibold text-primary">
                                {item.q}
                            </span>

                            <span class="faq-icon inline-flex h-10 w-10 items-center justify-center text-primary">
                                <Close class="w-7 h-7" />
                            </span>
                        </summary>

                        <div class="faq-content">
                            <div class="faq-inner px-5 pb-5 text-primary/80 leading-relaxed">
                                {item.a}
                            </div>
                        </div>
                    </details>
                ))
            }
        </div>
        <div class="flex flex-col items-center justify-center mt-10 md:mt-25">
            <ContentSubHeader
                text={FAQ.ctaHeader}
                class="gradient-dark text-center mx-0"
            />
            <ContentDescription
                text={FAQ.ctaDescription}
                class="text-primary-lighter text-center"
            />
            <div class="mt-5">
                <Button href={FAQ.button.href} text={FAQ.button.label} />
            </div>
        </div>
    </div>
</section>

<style is:global>
    .faq-summary::-webkit-details-marker {
        display: none;
    }
    .faq-summary::marker {
        content: "";
    }
    .faq-icon {
        transition: transform 300ms ease;
        font-weight: 700;
        line-height: 1;
    }
    .faq-item[data-expanded="true"] .faq-icon {
        transform: rotate(45deg);
    }
    .faq-content {
        overflow: hidden;
        height: 0;
    }
</style>
<script>
    import { initFaqAccordion } from "../scripts/faqAnimation";

    initFaqAccordion();
    document.addEventListener("astro:page-load", initFaqAccordion);
</script>
