---
import { HERO } from "../content/hero";
import Typewriter from "astro-typewriter";
import Button from "./Button.astro";
---

<section id={HERO.id}>
    <div
        class="relative flex-col h-screen flex items-center justify-center bg-[linear-gradient(180deg,rgba(38,40,52,1)_25%,rgba(0,0,0,1)_100%)] text-center"
    >
        <div id="particles-js" class="absolute inset-0 z-10"></div>
        <div data-aos="fade-up" class="mx-2">
            <h1
                class="text-[clamp(2.5rem,6vw,8rem)] font-medium leading-tight tracking-tight bg-linear-to-r from-secondary from-0% via-secondary via-50% to-primary to-100% bg-clip-text text-transparent"
            >
                {HERO.h1}
            </h1>
            <h2
                class="text-[clamp(1.25rem,3vw,3rem)] bg-linear-to-b from-secondary to-primary bg-clip-text text-transparent"
            >
                <Typewriter messages={HERO.h2} class="tw" />
            </h2>
        </div>
        <div
            class="relative z-20 mt-3 md:mt-10 flex gap-3 sm:gap-10 justify-center"
        >
            <Button href={HERO.button.href} text={HERO.button.label} />
            <Button
                href={HERO.buttonOffer.href}
                text={HERO.buttonOffer.label}
            />
        </div>
    </div>
</section>

<style>
    .tw::part(typewriter)::after {
        color: #4b4b4b;
    }
</style>

<script
    is:inline
    src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"
></script>
<script>
    window.particlesJS?.("particles-js", {
        particles: {
            number: { value: 80, density: { enable: true, value_area: 800 } },
            color: { value: "#E7E7E7" },
            shape: { type: "circle" },
            opacity: { value: 0.25 },
            size: { value: 2 },
            move: { enable: true, speed: 0.4, out_mode: "out" },
            line_linked: {
                enable: true,
                distance: 160,
                color: "#E7E7E7",
                opacity: 0.15,
                width: 1,
            },
        },
        interactivity: {
            detect_on: "canvas",
            events: {
                onhover: { enable: true, mode: "repulse" },
                onclick: { enable: true, mode: "repulse" },
            },
            modes: {
                repulse: {
                    distance: 150,
                    duration: 0.2,
                },
            },
        },
        retina_detect: true,
    });
</script>
