---
import { HERO } from "../content/hero";
import Typewriter from "astro-typewriter";
import Button from "./Button.astro";
---

<section id={HERO.id}>
    <div
        class="relative flex-col h-screen flex items-center justify-center bg-[linear-gradient(180deg,rgba(38,40,52,1)_25%,rgba(0,0,0,1)_100%)] text-center"
    >
        <div id="particles-js" class="absolute inset-0 z-10"></div>
        <div data-aos="fade-up" class="mx-2">
            <h1
                class="text-[clamp(2.5rem,6vw,8rem)] leading-tight font-semibold gradient-light"
            >
                {HERO.h1}
            </h1>
            <h2
                class="text-[clamp(1.25rem,3vw,3rem)] bg-linear-to-b from-dark from-0% via-secondary via-50% to-dark to-100% bg-clip-text text-transparent my-2"
            >
                <Typewriter messages={HERO.h2} class="tw" />
            </h2>
        </div>
        <div
            data-aos="fade-up"
            class="relative z-20 mt-3 md:mt-10 grid grid-cols-2 gap-3 sm:gap-10 justify-center"
        >
            <Button href={HERO.button.href} text={HERO.button.label} />
            <Button
                href={HERO.buttonOffer.href}
                text={HERO.buttonOffer.label}
                variant="outlined"
            />
        </div>
    </div>
</section>

<style>
    .tw::part(typewriter)::after {
        color: #4b4b4b;
    }
</style>

<script>
    import "../scripts/particles.ts";
</script>
