---
import Logo from "../assets/icons/Codify-logo-ciemne.svg";
import Button from "./Button.astro";
import BurgerButton from "./BurgerButton.astro";
import type { NavData } from "../content/menuItems";
import { resolveHref } from "../lib/resolveHref";

const { nav } = Astro.props as { nav: NavData };

const homeHref = resolveHref(nav.homeHref ?? "#home");
---

<div
    id="main-menu"
    class="fixed top-0 left-0 w-full h-15 md:h-22.5
         bg-primary md:bg-black/30 backdrop-blur-0 md:backdrop-blur-xl
         z-50 flex text-center"
>
    <div
        class="w-full max-w-360 mx-auto flex items-center justify-between gap-5"
    >
        <a
            href={homeHref}
            class="flex flex-col gap-1.5 items-center group text-secondary md:text-secondary hover:text-accent transform hover:rotate-44 transition-all duration-500 ease-out"
            aria-label="Go to home"
        >
            <Logo
                fill="currentColor"
                class="w-11 h-11 md:w-13 md:h-13 md:group-hover:translate-y-3 md:group-hover:scale-[1.3] transition-all duration-500"
            />
            <p
                class="hidden leading-none md:block md:group-hover:opacity-0 md:group-hover:scale-95 transition-all duration-300"
            >
                CODIFY
            </p>
        </a>

        <div class="hidden md:flex md:gap-7 md:items-center">
            {
                nav.menu.map((item) => (
                    <a
                        href={resolveHref(item.href)}
                        class="text-secondary text-xl font-medium hover:text-accent transition-colors duration-500 ease"
                    >
                        {item.label}
                    </a>
                ))
            }
        </div>

        {
            nav.cta && (
                <div class="hidden md:block">
                    <Button
                        text={nav.cta.label}
                        href={resolveHref(nav.cta.href)}
                        variant="outlined"
                    />
                </div>
            )
        }

        <BurgerButton />
    </div>
</div>
