---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../content/site";
import ContactSection from "../components/ContactSection.astro";
import "../styles/global.css";
import type { NavData } from "../content/menuItems";

const { nav } = Astro.props as { nav: NavData };
---

<html lang={SITE.lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{SITE.seo.title}</title>
        <meta name="description" content={SITE.seo.description} />
        <link rel="icon" type="image/svg+xml" href={SITE.icons.favicon} />
        <link rel="apple-touch-icon" href={SITE.icons.appleTouch} />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
            rel="stylesheet"
        />
        <meta property="og:title" content={SITE.seo.title} />
        <meta property="og:description" content={SITE.seo.description} />
        <meta property="og:type" content="website" />
        <meta property="og:image" content={SITE.seo.ogImage} />
        <meta property="og:url" content={SITE.url} />
        <meta name="generator" content={Astro.generator} />

        <script>
            import "../scripts/menu.ts";
            import AOS from "aos";
            import "aos/dist/aos.css";

            document.addEventListener("DOMContentLoaded", () => {
                AOS.init({ duration: 800, once: true });
            });
        </script>
    </head>

    <body>
        <Header nav={nav} />
        <main>
            <slot />
        </main>
        <ContactSection />
        <Footer nav={nav} />
    </body>
</html>
